.contenedorTotal {

  display: flex;
  flex-direction: column;

  padding: 80px;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.encabezado {
  margin-top: 0;
  font-size: 13px;

}

.app {
  margin-top: 1px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 300px;
  margin: 10px auto;
}

.titulo {
  margin-bottom: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  margin-top: 16px;
  margin-bottom: 8px;
}

p {
  text-align: center;
}

.logo {
  max-width: 30px;
}

.button {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

/* En tu archivo de estilos CSS */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calendar {
  max-width: 400px;
  /* Ajusta el tamaño máximo del calendario según tu preferencia */
  margin-bottom: 20px;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.note-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  max-width: 400px;
  /* Ajusta el tamaño máximo del contenedor de notas según tu preferencia */
}